absl-py==1.4.0
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
add-parent-path==0.1.11
altair==4.2.2
ament-cmake-test==1.3.6
ament-copyright==0.12.9
ament-cppcheck==0.12.9
ament-cpplint==0.12.9
ament-flake8==0.12.9
ament-index-python==1.4.0
ament-lint==0.12.9
ament-lint-cmake==0.12.9
ament-package==0.14.0
ament-pep257==0.12.9
ament-uncrustify==0.12.9
ament-xmllint==0.12.9
angles==1.15.0
annotated-types==0.5.0
anyascii==0.3.2
anyio==3.7.1
appdirs==1.4.4
argcomplete==1.8.1
attrs==21.2.0
Babel==2.8.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.6.2
bloom==0.11.2
bokeh==3.2.2
bond==3.0.2
boto3==1.26.145
botocore==1.29.145
breezy==3.2.1
Brotli==1.0.9
builtin-interfaces==1.2.1
cachetools==5.3.0
cartographer-ros-msgs==2.0.9000
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.3
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.15.1
colcon-defaults==0.2.8
colcon-devtools==0.2.4
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.4.1
colcon-test-result==0.3.8
colcon-zsh==0.5.0
coloredlogs==15.0.1
command-not-found==0.3
composition-interfaces==1.2.1
configobj==5.0.6
contourpy==1.1.1
control-msgs==4.4.0
controller-manager==2.36.0
controller-manager-msgs==2.36.0
cov-core==1.15.0
coverage==6.2
cryptography==41.0.7
cv-bridge==3.2.1
cycler==0.10.0
dask==2023.9.2
DateTime==5.2
dbus-python==1.2.18
decorator==4.4.2
decouple==0.0.7
deep-translator==1.11.4
deepl==1.16.1
demo-nodes-py==0.20.3
Deprecated==1.2.13
deprecation==2.1.0
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
dill==0.3.7
distlib==0.3.4
distributed==2023.9.2
distro==1.7.0
distro-info==1.1+ubuntu0.1
dnspython==2.4.2
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
dwb-msgs==1.1.12
einops==0.7.0
email-validator==2.0.0.post2
empy==3.3.4
encodec==0.1.1
entrypoints==0.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.1.3
faiss-cpu==1.7.4
fastapi==0.101.1
FastAPI-SQLAlchemy==0.2.1
fastbencode==0.0.5
fastimport==0.9.14
ffmpeg==1.4
filelock==3.12.0
fire==0.5.0
flake8==4.0.1
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.29.1
fs==2.4.12
fsspec==2023.5.0
funcy==2.0
gast==0.5.2
gazebo-msgs==3.7.0
generate-parameter-library-py==0.3.6
geometry-msgs==4.2.3
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.19.1
google-auth-oauthlib==1.0.0
gpg==1.16.0
greenlet==2.0.2
grpcio==1.54.2
gTTS==2.4.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.20.2
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.19.4
humanfriendly==10.0
idna==2.10
image-geometry==3.2.1
importlib-metadata==6.8.0
inflect==7.0.0
iniconfig==1.1.1
interactive-markers==2.3.2
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.17.3
kanilog==0.3.3
keyring==23.5.0
kiwisolver==1.3.2
lark==1.1.1
laser-geometry==2.4.0
launch==1.0.4
launch-ros==0.19.6
launch-testing==1.0.4
launch-testing-ros==0.19.6
launch-xml==1.0.4
launch-yaml==1.0.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lifecycle-msgs==1.2.1
lit==16.0.5
llvmlite==0.41.1
locket==1.0.0
logging-demo==0.20.3
logzero==1.7.0
lxml==4.9.3
lz4==4.3.2
map-msgs==2.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
mercurial==6.1.1
message-filters==4.3.3
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.7
multiprocess==0.70.15
nav-2d-msgs==1.1.12
nav-msgs==4.2.3
nav2-common==1.1.12
nav2-msgs==1.1.12
nav2-simple-commander==1.0.0
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
nodeenv==1.8.0
nose2==0.9.2
notify2==0.3
numba==0.58.1
numpy==1.26.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
onnx==1.15.0
onnxruntime==1.16.3
openai==1.4.0
openai-whisper==20231117
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
osrf-pycommon==2.0.2
packaging==21.3
pandas==2.0.1
partd==1.4.1
pathos==0.3.1
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
Pillow==9.0.1
playsound==1.3.0
pluggy==0.13.0
ply==3.11
pox==0.3.3
ppft==1.7.6.7
prisma==0.9.1
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.9.8
py==1.10.0
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pybind11==2.9.1
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.12
pydantic_core==2.6.1
pydeck==0.8.1b0
pydocstyle==6.1.1
pydot==1.4.2
pydub==0.25.1
PyExecJS==1.5.1
pyflakes==2.4.0
pygame==2.5.2
PyGithub==1.55
Pygments==2.15.1
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
Pympler==1.0.1
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
PyNaCl==1.5.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.19.3
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-gitlab==2.10.1
python-multipart==0.0.6
python-qt-binding==1.1.2
python-vlc==3.0.20123
pythran==0.10.0
pytz==2022.1
PyYAML==5.4.1
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.11
rcutils==5.1.4
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resource-retriever==3.1.1
rich==13.3.5
rmw-dds-common==1.6.0
roboflow==1.0.9
roman==3.3
ros2action==0.18.7
ros2bag==0.15.8
ros2cli==0.18.7
ros2component==0.18.7
ros2controlcli==2.36.0
ros2doctor==0.18.7
ros2interface==0.18.7
ros2launch==0.19.6
ros2lifecycle==0.18.7
ros2multicast==0.18.7
ros2node==0.18.7
ros2param==0.18.7
ros2pkg==0.18.7
ros2run==0.18.7
ros2service==0.18.7
ros2topic==0.18.7
rosbag2-interfaces==0.15.8
rosbag2-py==0.15.8
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rospkg-modules==1.5.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.5
rqt-gui-py==1.1.5
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.5
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9
s3transfer==0.6.1
safetensors==0.4.1
sahi==0.11.14
scikit-learn==1.3.0
scipy==1.8.0
scripts==3.7.0
seaborn==0.12.2
SecretStorage==3.3.1
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
sentry-sdk==1.23.1
shape-msgs==4.2.3
shapely==2.0.1
simpleaudio==1.0.4
six==1.16.0
slam-toolbox==2.6.6
smclib==3.0.2
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.1
SQLAlchemy==2.0.20
sros2==0.10.4
starlette==0.27.0
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stdlogging==0.16
stereo-msgs==4.2.3
streamlit==1.22.0
streamlit-modal==0.1.0
streamlit-state==0.1.0
suno-bark @ git+https://github.com/suno-ai/bark.git@773624d26db84278a55aacae9a16d7b25fbccab8
sympy==1.9
systemd-python==234
tblib==2.0.0
teleop-twist-keyboard==2.3.2
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
termcolor==2.3.0
terminaltables==3.1.10
tf-transformations==1.0.0
tf2-geometry-msgs==0.25.5
tf2-kdl==0.25.5
tf2-msgs==0.25.5
tf2-py==0.25.5
tf2-ros-py==0.25.5
tf2-tools==0.25.5
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.0
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
topic-monitor==0.20.3
torch==2.1.2
torchaudio==2.1.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
trajectory-msgs==4.2.3
transformers==4.36.1
transforms3d==0.4.1
translators==5.8.9
triton==2.1.0
ttstokenizer==1.0.0
turtlebot3-example==2.1.5
turtlebot3-msgs==2.2.3
turtlebot3-teleop==2.1.5
turtlesim==1.4.2
txtai==6.2.0
typeguard==2.2.2
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
ubuntu-advantage-tools==8001
ufoLib2==0.13.1
ufw==0.36.1
ultralytics==8.0.105
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urllib3==1.26.15
uvicorn==0.23.2
uvloop==0.17.0
validators==0.20.0
vcstool==0.3.0
vcstools==0.1.42
visualization-msgs==4.2.3
wadllib==1.3.6
watchdog==3.0.0
watchfiles==0.20.0
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.7
wget==3.2
wrapt==1.13.3
xacro==2.0.8
xyzservices==2023.7.0
yolov5==7.0.12
yolov8==0.0.1
zict==3.0.0
zipp==1.0.0
zope.interface==6.0
